.container{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5vh;
}

.bookGrid{
    display: flex;
    flex-wrap: wrap;
    width: 90vw;
    row-gap: 3vh;
    column-gap: 2vh;
    justify-content:center;
}


.addBookDiv{
    position: fixed;
    top: 50%;
    left: 50%;
    z-index: 1;
    transform: translate(-50%, -50%) scale(0);
    background-color: whitesmoke;
    padding: 3vh;
    border-radius: 1.625em;
    height: 45vh;
    display: flex;
    border: 2px solid black;

}

.addBookForm{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 1.5vh;
}

.addBookDiv.active {
    transform: translate(-50%, -50%) scale(1);
}

.graybg {
    position:fixed;
    top: 0%;
    left: 0%;
    width: 100vw;
    height: 100vh;
    display: none;
    background-color: rgba(0, 0, 0, 0.5);

}

.graybg.active{
    display: block;
}

.completed, .reading:hover{
    background-color: lightgreen;
}

.reading,.completed:hover{
    background-color: lightskyblue;
}


.removeButton{
    background-color: rgb(243, 117, 117)
}

.removeButton:hover{
    background-color: rgb(242, 44, 44)
}



button{
    border-radius: 0.625em;
}

.newBookBtn{
    display: flex;
    width: 100vw;
    justify-content: center;
    align-items: center;
    padding: 2vh;
    padding-top: 4vh;
    box-shadow: 0px 2px 2px lightgray;
    background-color: whitesmoke;
}

#addBookButton{
    background-color: lightyellow;
}

#addBookButton:hover{
    background-color: yellow;
}

.book{
    flex-basis: 15%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1vh;
    background-color: whitesmoke;
    border-radius: 1.625em;
    padding: 2vh;
    box-shadow: 2px 2px 10px lightgray;
}